[2014-10-28 23:26] donut opened #1 "Support for react v0.12"
The peer dependence of react "^v0.11.1" blocks the use of react v0.12. A brief looks seems to suggest that upgrading should just be a case of changing the version in package.json.

[2014-10-29 22:40] #1 closed, assigned to nobody

[2015-03-05 19:59] natew opened #4 "peerdeps for 0.13"
I know it's a pain, but this seems to work in your package.json:

[code]

Once final is released it would be easy to swap all the jank out for just `|| 0.13.0`.

[2015-03-05 20:48] nmn commented on #4
I seem to think that `^0.12.2` should cover everything prior to 1.0.
But they do say SemVer has no rules before 1.0 so that might be the problem.

Do you know if `0.12.0 ~ 0.13.9` would work?

According to semver all the pre-release versions are < 0.13

Let me know, I don't mind making this small change to help people use React-Timeago.

[2015-03-05 20:53] natew commented on #4
Yea SemVer treats stuff below 1.0 differently, the minor version becomes
equivalent to the major. I've had to make this change in a few libraries to
support the pre-0.13 final releases, it's not big priority though. I could
do a pull request later.

On Thu, Mar 5, 2015 at 12:48 PM, Naman Goel <notifications@github.com>
wrote:

--
Nate Wienert
natewienert.com @natebirdman <http://twitter.com/natebi

[2015-03-05 20:53] insin commented on #4
Any reason not to just use `>=0.12.0` if the component isn't affected by changes coming in 0.13?

[2015-03-05 20:57] natew commented on #4
For some reason the >= doesn't work for peerdependencies. Not sure why,
I've tried that as well. It's a strange one...

On Thu, Mar 5, 2015 at 12:53 PM, Jonny Buchanan <notifications@github.com>
wrote:

--
Nate Wienert
natewienert.com @natebirdman <http://twitter.com/natebirdman>

[2015-03-05 21:01] nmn commented on #4
My major concern is that I haven't tested this with 0.13 at all. I build all open source projects while working on real projects and I use stable releases for that.

If someone can confirm that other than the dependency everything else works fine with 0.13 I'll update the peer dependency to whatever supports the most cases.

A pull request would be great.

[2015-03-11 11:41] nmn commented on #4
Now that 0.13 has been released, will this be OK:

`>= 0.12.2`

Or maybe:

`>= 0.12.2 < 0.14`

[2015-05-08 20:35] mydearxym opened #6 "react-native support ?"
amazing work!
is this component support react-native?

[2015-06-27 18:34] mcky opened #9 "Returns 'NaN years from now' when no date is given"
Some error handling for this would be nice - perhaps return null and provide a console error?

[2015-06-28 18:32] nmn commented on #9
@mcky The intention was to have it default to current time if that happened. Would you rather get an error? I'm working on a new release now.

[2015-06-29 15:03] nmn commented on #9
Published new version (`2.1.0`) to NPM.
This version has:
- PropType validation.
- Clearing setTimeouts on unmount,
- Handling the case where a TimeAgo component's live value is changed after it has already mounted.

[2015-06-29 15:03] #9 closed

[2015-06-29 15:05] nmn commented on #4
The peerDep has been set to `>=0.12.0` for a while, and I have got no complaints, and it seems to be working fine for me, so I'm closing this issue.

[2015-06-29 15:05] #4 closed

[2015-06-29 18:59] tedlin182 opened #11 "You have `onOfType` instead of `oneOfType` - Breaking on React startup"
You have a typo in your `propTypes` section.

Should be `oneOfType` and not `onOfType`.

[2015-06-29 19:01] tedlin182 commented on #11
This is a dupe. I see there's a PR for a fix already

[2015-06-29 19:01] #11 closed

[2015-06-30 09:36] nmn commented on #11
Fixed.

[2015-06-30 17:25] tedlin182 opened #13 "Any plans to add option to allow custom rounding/time calculation?"
Right now you're using Math.round which makes sense for calculating times. But in our case, we actually just want to always round down to get the remaining time left.

I can do this if I recalculate the time remaining in the `formatter` option, but I know that's not what it's intended for and wanted to see if it made sense to add in a option to customize how you choose to calculate the time remain

[2015-07-01 09:01] nmn commented on #13
@tedlin182 In the newest release the formatter function gets the original date as the fourth argument. So you can do that with the formatter function.

I think just changing the formatter function for different use-cases is a better way to solve this problem that adding a bunch of props.

[2015-07-01 09:01] #13 closed

[2015-08-28 14:46] chrisharrington opened #15 "Bower support?"

[2015-08-29 17:10] nmn commented on #15
pull requests welcome!

[2015-10-02 00:12] ianjonesidau opened #17 "Docs state minPeriod accepts seconds, but actual function uses milliseconds."
The minPeriod argument actually takes milliseconds, rather than seconds. Which is really frustrating because until you discover this, it simply appears as if minPeriod doesn't work at all.

[2015-11-16 16:09] mutewinter commented on #17
Ran into this also.

[2015-11-29 16:35] jamez14 opened #18 "Change containing element to HTML5 <time> element"
Before I do the work, I wanted to get your thoughts on this change. I would like to change the `<span>` that the time is held in to instead be a `<time>` element. This would also include the `datetime` attribute.

For example, the HTML result would look like this:
`<time datetime="2013-11-29">2 years ago</time>`

This will of course help with search engine indexing/crawling as well as HTML5 semant

[2015-12-08 18:57] yordis commented on #18
+1

[2015-12-09 06:21] nmn commented on #18
I'm not sure the default value should be changed as `span` is guaranteed to be free of needless styles.

As for using the `time` tagName you can already do that by setting the `component` prop:

[code]

Hope that works...

[2015-12-09 06:37] yordis commented on #18
@nmn I think the `time` tag is for display date/time in HTML that's why is there now https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time

Normally you should use it. I prefer have it by default and even add `datetime` attribute by default instead of use a non-semantic tag as `span`

[2015-12-09 06:41] nmn commented on #18
According to the mozilla article you sent me:

[code]

TimeAgo is clearly NOT machine readable, so I think span is the correct tagName to use still.

Further:
1. you can use whatever tagName (using the `component` prop) you want, AND set whatever attributes you want. (the attributes that react-timeago doesn't use are automatically passed through).
2. You can wrap a span in any tag, for the same se

[2015-12-09 06:57] yordis commented on #18
All the semantic tags are for computers not for human. Article, H1, Main, Time .... tags are just for computers to know more about your code, that's all, supporting the SEO and those things (read what @jamez14 wrote)

Yes indeed, you can customize that but you are missing the whole point about this ticket. Even he is asking for `datetime` because again Search Engine + SEO + HTML5 Semantics

P.S: *

[2015-12-09 07:02] nmn commented on #18
This is a tiny component, and I'm just want to do the right thing. Hence I'm even doing this long discussion.

After re-reading the article it seems that the time tag is the semantic tag as long the the `datetime` attribute is also set.

I will think about an elegant way to fall back to the old functionality and change the defaults. I will also need to check that browsers don't have any default st

[2015-12-09 07:10] yordis commented on #18
@nmn any time.

Developers should care about the styling btw, I think this component is fine as it without any styling. The responsibility of upgrade/update isn't you, in my opinion.

Even that this shouldn't break anything this is just the default style of that element.
[code]

[2015-12-09 07:17] nmn commented on #18
Thanks for finding that out for me.

BTW, that is what I was trying to say. spans don't have any real default styling, I didn't want to change that by changing the tag name.

[2015-12-12 07:27] crobinson42 opened #19 "Update interval"
It appears no matter the time you pass to date, the initial will start update according to what the docs say on the home page:
`every second for a minute, every minute for the next 5 minutes, Every 5 minutes for the hour,...`
I think there should be some logic to check how long ago the date passed is, then start at the interval period appropriate for example if you pass Date().now(), then it shoul

[2015-12-14 19:17] nmn commented on #19
As far as I know the logic already works the way you suggest it should. I will try to verify.

[2016-01-09 00:45] inchr opened #21 "Change from X seconds to a few seconds ago"
There is a way for show instead of:
X second ago
show something more generic like: a few seconds ago
so that you don't have a counter that increase every seconds(I don't want disable the live for all timing...it just sucks for seconds :()

Thanks.

[2016-01-11 01:18] nmn commented on #21
Look at using custom formatted function or wait for another day for me to get back to you. I'm on a holiday.

[2016-01-11 07:06] nmn commented on #21
react-timeago takes a minPeriod prop. Set that to something more than a 10 seconds and it should do the job.

[2016-01-11 07:06] #21 closed

[2016-02-23 11:44] denis-sokolov commented on #19
I also got this strange impression from the documentation as @crobinson42.

I have confirmed the code actually does it [in a smart way](https://github.com/nmn/react-timeago/blob/master/timeago.js#L64), as @nmn claims.

Updated documentation proposed in #23.

[2016-03-17 09:31] Tinple opened #26 "i18n support"

[2016-03-17 16:05] nmn commented on #26
React-timeago already supports i18n with the `formatter` prop.

The formatter is a function that takes a few arguments and renders anything. Using a library to do this unnecessarily bloats up the package and hurts the common case.

[2016-03-17 16:05] #26 closed

[2016-03-20 03:18] #19 closed

[2016-04-07 01:16] #18 closed

[2016-04-07 01:17] nmn commented on #15
I'll add a bower.json file and a dist folder so you can use it via bower. Don't think I'm gonna publish it on the bower registry though, as it's not something I want to deal with going forward. Most people using React rely on NPM and commonJS.

[2016-04-07 01:18] #15 closed

[2016-04-07 18:09] nmn commented on #17
Fixed in 3.0.0-beta.1 on NPM.

[2016-04-07 18:09] #17 closed

[2016-04-08 00:34] emzero opened #28 "Module not found Error on React 15.0.0"
When upgrading to React 15.0.0 my build fails throwing the following error:

[code]

I guess React 15.0.0 no longer has a dependency on `Object.assign` so you should add that or let people know they need to provide their own polyfill.

[2016-04-08 03:13] bogas04 commented on #28
Yeah, as a good practice you should never rely on React's internal libraries.

[2016-04-08 05:41] nmn commented on #28
Oh, I accidentally missed this. I did change the behavior to just use Object.assign itself. Good thing I posted a beta!

[2016-04-08 08:32] kokarn commented on #28
@nmn That doesn't seem to be published to npm?
[code]

[2016-04-08 10:05] nmn commented on #28
@kokarn This is weird.
It's definitely on NPM. I just tried it locally:
`npm i react-timeago@next`

As for the git url. You'll need to manually cd into the folder and do `npm i && npm run build` to make it work.
I chose not to check in the built files into git.

[2016-04-08 10:33] kokarn commented on #28
@nmn this doesn't work, tested on two machines now

Ubuntu
[code]
Windows 7
[code]

[2016-04-08 13:07] bogas04 commented on #28
I too am facing same issue as @kokarn

[2016-04-08 23:15] cezary commented on #28
Not seeing latest version on npm either.

[2016-04-09 14:30] burakcan commented on #28
@nmn can you please push the latest version to npm?

[2016-04-09 14:39] burakcan commented on #28
I pushed built files to here: https://github.com/DeckHub/react-timeago Those who experience issues can temporarily use the component from that repo.

[2016-04-09 15:18] stipsan commented on #28
Just got the same message, upgraded to react 15 and react-timeago broke my Heroku build

[2016-04-10 08:10] nmn commented on #28
@burakcan I apparently pushed it with a flag already. I'm gonna look into what's gone wrong.

[2016-04-10 08:12] nmn commented on #28
Please try again. It should exist with the `next` tag now.
`npm i react-timeago@next`

[2016-04-10 10:19] cezary commented on #28
Works, thanks @nmn!

[2016-04-11 08:57] kokarn opened #30 "New error with React 15"
Using some show/hide components from material-ui makes react-timeago throw this error on and off

[code]

[2016-04-11 14:46] nmn commented on #30
It's a bug. Will be fixed by #29

[2016-04-11 14:47] #28 closed

[2016-04-11 14:51] kokarn commented on #30
Ah, thanks!

[2016-04-11 14:51] #30 closed

[2016-04-11 14:51] nmn commented on #30
beta.3 released with fix.

[2016-04-16 08:47] GustavRitsch opened #31 "Stop using object assign from react private API"
I am getting error on new version of react `15.0.0`
`Module not found: Error: Cannot resolve module 'react/lib/Object.assign'`
Changing `require('react/lib/Object.assign')` to `require('object-assign')` solves the issue (I am on mobile so I can't make PR)
Thanks

[2016-04-16 22:50] rickhanlonii commented on #31
@GustavRitsch this is fixed in the 3.0 beta (fix was on https://github.com/nmn/react-timeago/pull/22).

[2016-04-17 03:37] nmn commented on #31
3.0 beta

[2016-04-17 03:37] #31 closed

[2016-04-17 03:37] nmn commented on #31
I'd love some feedback on the beta so I can release it.

[2016-04-17 04:01] rickhanlonii commented on #31
@nmn happy to test it out and get back to you.

[2016-04-17 17:28] foxhound87 opened #32 "error with react 15"
[code]

[2016-04-17 23:10] nmn commented on #32
Use the 3.0 beta.

[2016-04-17 23:10] #32 closed

[2016-04-21 02:08] andrewmclagan opened #33 "react 15 object.assign"
when upgrading to react 15 i get this error:

 error given was: Error: Cannot find module 'react/lib/Object.assign'

....

 @ ./~/react-timeago/timeago.js 4:13-47

[2016-04-21 02:16] andrewmclagan commented on #33
The problem is on line 4 of the babel compiled code:

[code]

As I'm aware react `v15.x.x` migrates some tools into `fbjs` package:

https://github.com/facebook/fbjs

[2016-04-25 12:37] andrewmclagan commented on #33
oops did not mean to close this, is this resolved?

[2016-04-25 13:35] maslianok commented on #33
yes, the same error.
@nmn Can you use babel-plugin-transform-object-assign https://babeljs.io/docs/plugins/transform-object-assign/

[2016-04-25 16:29] nmn commented on #33
Ah I'll add that Babel plugin.

[2016-05-05 13:49] maslianok commented on #33
@nmn Can you please merge PR and update npm module?

[2016-05-05 18:14] #33 closed

[2016-05-18 08:42] liu-dongyu opened #35 "not work in mobile chrome"
not work in mobile chrome

[2016-05-19 09:46] nmn commented on #35
any more details? code example? This component doesn't use anything but setTimeout so I'm not sure what could possibly break.

[2016-05-20 02:53] #35 closed

[2016-05-20 02:57] liu-dongyu commented on #35
Sorry, it was my fault . Not react-timeago's problems.

[2016-06-03 13:53] jcalfee opened #36 "TimeAgo and ISO dates (different reporting on FF and Chrome).."
On Firefox, look at what happens when I add the `Z` (for zulu date)

dateStr = 2016-06-03T13:35:00 →5 hours from now (Firefox)
dateStr = 2016-06-03T13:35:00 →8 minutes ago (Chrome)

dateStr = 2016-06-03T13:35:00Z →8 minutes ago (Chrome)
dateStr = 2016-06-03T13:35:00Z →8 minutes ago (Firefox)

Firefox seems to expect all dates to have the Z on the end.  Chrome appears to just give in and assumes th

[2016-06-03 17:55] nmn commented on #36
Date parsing is fuzzy by nature. I'd rather stick to the browser implementation. Trying to fix such edge-cases will take us down a slippery slope.

[2016-06-03 17:55] #36 closed

[2016-07-05 07:50] kokarn opened #39 "Don't pass unknown props to <time> tag."
React 15.2.0 throws a warning with this. Nothing breaks right now but it's a bit noisy.
[code]

[2016-07-05 12:59] foxhound87 commented on #39
same here!

[2016-07-07 02:20] nmn commented on #39
I knew this would happen as soon as I saw the changelog. I'll get this fixed soon.

[2016-07-07 06:58] kokarn commented on #39
It's not a big problem. Error only shows when using the dev un-minified mode so no rush :)

[2016-07-10 03:08] #39 closed

[2016-07-10 03:09] nmn commented on #39
Fixed in v3.1.0

[2016-07-19 17:37] fasterthanlime opened #42 "'title' property no longer does anything"
I used to pass `title=''` to avoid having TimeAgo set a `title` attribute in the `datetime` tag it creates, since I'm doing my own tooltip — but now:

  * If I pass an empty string, the test [here](https://github.com/nmn/react-timeago/blob/9cee49cd2b202199af4c8f18b6fb818f562ac2f3/src/index.js#L159) will be falsy, and it'll show an ISO string
  * If I pass another string, the test will be truthy an

[2016-07-19 17:38] fasterthanlime commented on #42
By the way, even if you add parenthesis, the problem won't be solved — an empty title is falsy, but imho should allow clearing the `title` attribute altogether. So the test really should be something like:

[code]

but that's a little verbose, a helper method or two wouldn't hurt ;)

[2016-07-19 17:50] fasterthanlime commented on #42
Fixed in my fork so we don't have to wait for upstream fix, will delete once resolved! https://github.com/fasterthanlime/react-timeago-titlefix

[2016-07-19 18:24] nmn commented on #42
@fasterthanlime Pull Requests Welcome!
Since you've fixed it, might as well make a PR?

[2016-07-21 00:05] #42 closed

[2016-07-27 17:34] rhagigi opened #44 "Weeks -> Days conversion is wrong and API documentation is wrong"
https://github.com/nmn/react-timeago/blob/master/src/formatters/buildFormatter.js#L64

[code]

1) epochSeconds isn't in seconds, it's milliseconds -- it's actually `then` (`new Date(date)).valueOf()`) in `index.js`, so it's in ms.
  a) However, this isn't an issue as the logic is treating it like it's ms anyhow (subtracting Date.now(), which is also ms).

2) The real issue is that it should be div

[2016-07-27 17:35] rhagigi commented on #44
Note that this is an issue if you use the provided `en-short` formatting, which does not contain "week" or "weeks".

[2016-07-29 18:43] joshrowley opened #45 "Time Ago from a different time besides Date.now"
Hi! Great library here. I'm wondering if there's any interest in adding a feature to allow you to specify a different way to calculate the current time besides using `Date.now`

The use case is that I want to display time ago, but I do not trust the client's clock and instead send a timestamp from my server, compare that to the client's time, and then use that to calculate a consistent offset that

[2016-07-30 04:55] nmn commented on #45
@joshrowley This is an interesting idea that basically no one has ever asked for.

My basic philosophy with react-timeago is that I'm happy to add new features as long as people who don't want that feature don't have to pay for it. This is why language support was added with custom formatter functions that are imported separately.

If you have an idea like that I'm all for it. But before that happ

[2016-08-01 03:24] luandro opened #46 "Import strings and formatter in docs is wrong"
The docs are missing the `lib` path, and won't work.
[code]

Should be:

[code]

[2016-08-01 07:00] #46 closed

[2016-08-03 07:39] gcanti opened #48 "Type mismatch in language-strings files"
Hi @nmn,

I just `npm install`ed `react-timeago` (I wanted to try your solution with shadow files) and I think there is a problem with some `language-strings`

The type of, say `seconds`, is

[code]

but then in, for example `cs.js`, there is `seconds: function (n, d) { return f(n, d, ['méně než minutou', 'méně než minutu']) }`, where `f` is defined as

[code]

and Flow (v0.30.0) seems to complain

[2016-08-03 09:30] nmn commented on #48
@gcanti This is a known issue. But it's a long and slow process to fix as I don't actually know most of the languages. Feel free to ignore the language-strings folder locally to make it work for you. I'm working on fixing it.

[2016-08-03 09:34] nmn commented on #44
Sorry for the late reply. In short PRs welcome. The language support may have been a little pre-mature on my part. But since I don't actually know a billion languages, I hopes I could add support and get help.

I agree that the project needs tests. My preference is to just use Jest. (It takes a couple of seconds to boot up, but it is simple works well enough for me).

[2016-08-04 22:32] allenylzhou commented on #45
@nmn There should be an option to use a static time that we can pass in as a prop instead of Date.now() for the initial render, but it can use Date.now() on subsequent updates. The reason for this is that React-timeago is being used for server side rendering but because of the way that it uses Date.now() I will always end up with Invalid checksum with server-side rendering

[2016-08-05 15:01] DerKobe opened #49 "Using a formatter yields wrong results"
When using a formatter (buildFormatter(x)) I get results for dates lying approx. more than one week in the past like this (today is 5. August):
"26935379 days ago" for "2016-07-29T07:30:59Z"
but
"4 days ago" for "2016-08-01T19:20:52Z"
This is independent from the chosen language btw.

[2016-08-09 14:56] joshrowley commented on #45
Hey @nmn , I was able to use the `formatter` function to do this (I didn't need any async behavior because I send the server time in the response headers with my data request which happens before any components needing TimeAgo render). Worked out great 👍 , thanks! This can be closed unless you wanna keep it open for @allenylzhou's comment.

[2016-08-12 03:46] kevin940726 commented on #49
+1

Maybe it's because of [here](https://github.com/nmn/react-timeago/blob/master/src/formatters/buildFormatter.js#L64)?
I think it should be `now - epochSeconds` instead of `epochSeconds - now`?

[2016-08-13 05:36] #48 closed

[2016-08-27 00:45] #44 closed

[2016-08-27 00:45] #49 closed

[2016-09-01 09:23] Sybio opened #51 "Tag master to avoid modulo"
I noticed version 3.1.2 has unwanted modulo (%) expression instead of division (/) in function buildFormatter : https://github.com/nmn/react-timeago/blob/91dd188e9d5be105a091ca093a4bddbd66690b46/src/formatters/buildFormatter.js#L64. It makes crazy day numbers when using multi-language.

Can you tag the last version of master like 3.1.3 to avoid this unwanted behavior and use your helpful library f

[2016-09-15 18:39] vhpoet commented on #21
@inchr here's a formatter function you can use for that

https://gist.github.com/vhpoet/fe1539e6b0d8bf00e76582c3b0d6a017
[code]

[2016-09-25 01:39] petermikitsh opened #53 "[SSR] Server side rendering - invalid checksum"
I use this component on a page where I render on the server and then load react on the client.

I'm getting this error:

[code]

Component sent in server response:

[code]

Component rendered in client:

[code]

[2016-09-25 03:22] nmn commented on #53
1. There generally always going to be some problems with server-side rendering because time passes. Perhaps I can make it so that the raw time string is shown until a `componentDidMount` fires.

2. In your case, only the title string is off. That should be a simpler fix. But I'm not sure what's even causing that.

[2016-09-25 03:46] petermikitsh commented on #53
The fix for me was to explicitly define the `title` prop and use momentjs so it would be consistently formatted in both environments.

[2016-09-25 03:46] #53 closed

[2016-09-30 08:20] nmn commented on #51
I believe this is done. I think I did this last week. Please confirm and close the issue if everything is good.

[2016-09-30 08:28] nmn commented on #45
@allenylzhou I like this solution the best so far:

Ask for an initial render string which is static. Use `componentDidMount` (which only fires on the client side) to then revert to the current behaviour.

This way, the server-side render and the first render of the client-side will match up. (It'll just be a static string). But after that it will become a dynamic component again.

That said, this

[2016-09-30 18:32] vhpoet opened #54 "extra files in npm"
@nmn check your npm. I see files like `index (Naman’s MacBook Air's conflicted copy 2016-09-06).js` and `index.js (Naman’s MacBook Air's conflicted copy 2016-09-06).flow`.

P. S. Thanks for the great tool!

[2016-09-30 23:56] nmn commented on #54
Oh. Duh!

[2016-10-09 06:49] jasan-s opened #55 "Is there a way to use this lib to also work with future date?"
If the date props passed is in future I would like to show the time till and after then switch to timeago after the dateprop is in the past.

[2016-10-09 07:07] jasan-s commented on #55
My mistake. read the full read me. and tested the example.

[2016-10-09 07:07] #55 closed

[2016-10-09 07:15] jasan-s opened #56 "The seconds only show for "time ago" and not for "from now""
using the simple example I added a future date +2 minutes from now,  It only showed 1 minuted from now and did not count down to 0, after the passed in date was in the past the seconds did show for time ago. Any way to adjust so the seconds countdown show when the the date prop is under 1 minute away in the future.

[2016-10-09 07:34] jasan-s opened #57 "is there any example of using formatter optional parameter?"
I couldn't figure out how to change the default suffix, and/or show the time remaining passed like a counter.  I believe i need to use the formatter function but was unclear how to implement it.

[2016-10-10 00:48] nmn commented on #57
You can look at the default formatter function in source and just customize it's behavior as you see fit.

[2016-10-12 04:03] nmn commented on #56
this could be bug. I'll look into it.

[2016-10-20 05:11] jasan-s commented on #56
any update?

[2016-10-20 06:46] jasan-s commented on #57
Sorry but still unclear:

I tries this:

[code]
with:
[code]

hoping I would get updating counter by each second, but i did not.

[2016-11-07 05:20] liuzhen2008 opened #59 "Couldn't find preset relative to /User/Myself/..../node_modules/react-timeago"
I just added the package and npm install.

And then I imported it in one of my components. Then I hit this error.

What should I do?

[2016-11-07 16:29] nmn commented on #59
OS and node version please.

[2016-11-08 00:38] liuzhen2008 commented on #59
@nmn MacOS sierra. Node version 6.6.0. NPM version 3.10.7

[2016-11-08 06:16] nmn commented on #59
So, I'm on the same version for everything, and I can't reproduce the error.

Some further questions that should help me hunt this down:
1. Are you using Webpack/browserify?

2. Are you running babel on node_modules?

3. If you open the node_modules/react-timego and delete the .babelrc file does that fix the problem?

[2016-11-17 02:36] liuzhen2008 commented on #59
@nmn I am not 100% familiar with webpack/babel. in my package.json, i don't have any of these things specified. Nor do I have any webpack/babel config files in my project.

I tried your #2 - it does fix my issue. Now is it possible for my npm to remove that file automatically each time npm install runs?

[2016-11-17 02:42] liuzhen2008 commented on #59
@nmn I just realize i am making a incredibly stupid mistake. This issue really has nothing to do with your module. It is all my fault.

[2016-11-17 02:42] #59 closed

[2016-11-17 18:04] nanexcool opened #61 "Weird timestamp value..."
Using latest NPM version ( "react-timeago": "^3.1.3" )

`<TimeAgo date={timestamp} />`

where

`timestamp = 1479308131;`

According to EpochConverter, that timestamp is Wed, 16 Nov 2016 14:55:31 GMT

But TimeAgo shows 47 years ago, with a `datetime="1970-01-18T02:55:08.131Z"`

`<TimeAgo date={1479308131} />` shows the same.

`<TimeAgo date="1479308131" />` does not work!

*EDIT*

Just read the doc

[2016-11-17 18:05] #61 closed

[2016-11-22 22:58] dartandrevinsky opened #62 "Default formatter to be exposed as a `next()` call"
Could there be a better, cleaner, way to expose a default formatter, other than `TimeAgo.defaultProps.formatter`?

The use case is how to customize the output based only on a subset of values? In my case, I tried to show 'recently' if units were 'second' and suffix - 'ago'. All other cases needed to have been handled by a default formatter.

I'd prefer having this:

[code]

instead of this:

[code

[2016-11-23 09:31] nmn commented on #62
Good point. I'm busy for a week or so, but I'll try and get this out asap.

[2016-11-23 10:53] innerdvations commented on #57
I believe you need to set maxPeriod to 1 instead of 1000 if you want them to update every second.

[2016-12-07 20:00] zackify opened #63 "Epoch time doesn't work"
Doing `<TimeAgo date={new Date(item.get('epoch')*1000)} />` works, but passing in the raw unix timestamp just returns 47 years ago for timestamps. I can make a pr :)

[2016-12-07 20:11] zackify opened #64 "Return null on invalid time value"
Instead of throwing an error, can we just return null and throw a warning about a time value being invalid?

[2016-12-08 05:58] nmn commented on #64
sounds good, I'll get on it.

[2016-12-08 05:59] nmn commented on #63
Hey a PR sounds good. But I'm essentially taking whatever you pass me and call `Date` with it.
So I'm not sure why it's not working.

[2016-12-08 14:39] zackify commented on #63
Weird. I will look into it more if I get time today.
On Thu, Dec 8, 2016 at 00:59 Naman Goel <notifications@github.com> wrote:

[2016-12-27 21:19] codepunkt commented on #62
@nmn any success yet? :)

[2016-12-28 12:38] AndrewRevinsky commented on #62
Naman, I filed a PR to possibly close this Issue.

[2016-12-29 02:23] AndrewRevinsky commented on #62
Pertinent Pull Request: https://github.com/nmn/react-timeago/pull/66

[2017-01-01 11:53] jr69 opened #68 "How to make it so that instead of 'x seconds ago', it is a fixed string like 'just recently'?"
How would you do this so that when the time is less than a minute ago, instead of the component displaying an annoying timer like:

1 second ago
2 seconds ago
3 seconds ago
...

it would just be a string like:

'just recently'

How to do?

[2017-01-05 20:31] Tyratox commented on #68
Yeah, that would be a nice feature 👍

[2017-01-05 20:36] Tyratox commented on #68
I guess you could change line 120 in lib/index.js from
`var _ref2 = seconds < MINUTE ? [Math.round(seconds), 'second'] : ...` to something like `var _ref2 = seconds < MINUTE ? 'just recently' : ...`. But an react prop would be much cleaner.

[2017-01-16 18:44] Ferossgp opened #69 "Showing strange date"
Showing **21337250 days ago** for date **Mon Dec 19 12:56:11 GMT 2016**
I use formatter - react-timeago/lib/language-strings/en  and version 3.1.1
dateTime is correct on <time> element -  2016-12-19T12:56:11.000Z

[2017-01-25 20:17] derekhendrickx opened #70 "Publish a new version on NPM"
I wanted to use your component however it seems the latest version hasn't been published to NPM yet. I needed a custom formatter for the seconds and it seems the NPM version doesn't have the `defaultFormatter` argument for the `formatter` function.

[2017-01-30 23:23] aight8 opened #71 "Flow types are not correct"
There are several errors with flow 0.38, I don't know with which flow version it was tested, because the flow version is not defined in .flowconfig or defined in packages.json.

Errors related to and more:
[code]

It's sad because the users must ignore now this package in flowconfig even if it has flow.

[2017-01-31 15:48] nmn commented on #71
Thanks for the heads up.

[2017-01-31 18:23] adamn opened #72 "Support no suffix"
In minimal scenarios, it would be good to have the option to do '5 hours' without the 'ago' suffix.  This is useful where all items are in the past and the title says 'Time since x'.

[2017-01-31 18:36] adamn commented on #72
The better solution is a custom formatter so no need to implement this:

[code]

[2017-01-31 18:36] #72 closed

[2017-02-03 19:27] nmn commented on #72
Just a heads up. It's way easier to write a custom formatter as a function. But your solution obviously works too.

[2017-02-05 13:59] Tyratox commented on #68
Actually it's way easier:

    formatter={(value, unit, suffix) => {
        if(unit === "second"){
            return "just now";
        }else{
            return value + " " + unit + (value > 1 ? "s" : "") + " " + suffix;
        }
    }}

[2017-02-05 21:56] jr69 commented on #68
Perfect, it works! Thanks

[2017-02-05 21:56] #68 closed

[2017-02-09 01:29] alexkrolick commented on #45
Another use case for this is for Jest testing - if you snapshot a component with a TimeAgo, subsequent tests will have a different Date.now and fail. One solution is to mock Date.now itself, but it may have unintended side effects.

[2017-02-21 08:38] nmn commented on #69
Could you give me some detail on what format the date was fed to it?

[2017-02-21 08:55] nmn commented on #71
Fixed in 3.2.0

[2017-02-21 08:55] #71 closed

[2017-02-21 08:55] nmn commented on #70
published 3.2.0

[2017-02-21 08:55] #70 closed

[2017-02-21 08:55] nmn commented on #69
Please test 3.2.0

[2017-02-21 08:56] nmn commented on #64
Fixed in 3.2.0

[2017-02-21 08:56] #64 closed

[2017-02-21 08:57] nmn commented on #62
Released in 3.2.0

Further the defaultFormatter is exposed as a file.

[2017-02-21 08:57] #62 closed

[2017-02-21 08:58] nmn commented on #57
You can also look at one of the language strings and use it that way if you don't want to write a function.

[2017-02-21 08:59] nmn commented on #56
This bug may take a little longer to fix.

[2017-02-21 09:00] nmn commented on #54
Think this is fixed now in 3.2.0

[2017-02-21 09:00] #54 closed

[2017-02-21 09:00] #51 closed

[2017-02-22 00:06] rowdyroad opened #74 "Does not work in Safari."
macOS, safari 10.0.3 (12602.4.8). I have no any component (it does not shown) on page what contains TimeAgo element.

in chrome everything is ok - I can see it.

[2017-02-22 18:58] nmn commented on #74
Please check the JS console. Most probably it's a problem with parsing the date input. If you do not have any warning in the console, please give me some code example of what props you're feeding and I can look into it.

[2017-02-26 10:53] EduardJS opened #75 "Performance increase"
Hei!

I think a simple if to check if the time difference is bigger than some specified gaps, in order to alter the interval period would be great.

[code]

Also, there should be an option or parameter or something which will allow us to use "just now"  for everything under 60 seconds ...

[2017-02-26 11:14] EduardJS commented on #75
Oh. I just checked the code. There is a "gap" calculator already. My bad.

[2017-02-26 11:14] #75 closed

[2017-03-10 17:23] kentor opened #76 "Uses Number.isNaN which does not exist in IE11"
Hi just wanna let you know this library uses `Number.isNaN` which does not exist in IE11.

Should have a note that this needs to be polyfilled or something...

[2017-03-10 18:00] nmn commented on #76
Yeah the library assumes ES5.

[2017-03-11 04:53] kevin940726 commented on #76
[Number.isNaN](https://developer.mozilla.org/zh-TW/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN) is actually part of ES6.
I agreed that a note will be fine :)

[2017-03-16 16:51] TheAznShumai opened #77 "Default Formatter is incorrectly singularizing"
When the time hits values ending with a 1, it would singularize the phrase.  This also present a problem where phrases like
21 seconds/hours ago would be outputted as 21 second/hour ago.
31 seconds/hours ago would be outputted as 31 second/hour ago.
and so forth.

For the time being, I've fixed the issue with a custom formatter.

[2017-03-16 16:57] TheAznShumai commented on #77
I added a quick PR here https://github.com/nmn/react-timeago/pull/78

[2017-03-17 15:56] TheAznShumai commented on #77
PR merged.

[2017-03-17 15:56] #77 closed

[2017-03-19 01:38] petermikitsh opened #79 "Unexpected output in React Native"
I'm getting different outputs on Web and React Native. For example:

"21 hour ago" on React Native and "21 hours ago" on React Web.

My React Native code:

[code]

<img width="605" alt="screen shot 2017-03-18 at 6 31 46 pm" src="https://cloud.githubusercontent.com/assets/1571918/24077412/c543b89a-0c09-11e7-919e-f4786fc3ddcc.png">

[2017-03-20 16:53] nmn commented on #79
There was a bug that has recently been fixed but I have yet to cut a new release. I will add this as an explicit test-case for that.

As a workaround, I suggest using a custom formatter.

[2017-04-04 23:34] mihaibogdan10 commented on #77
@TheAznShumai Are you confident this is correct? This is the first time I ever encounter this form of pluralizing. As far as I know, the rule is "if it's greater than 1, it's plural".

[2017-04-04 23:35] mihaibogdan10 commented on #77
Here's a reference to this: http://english.stackexchange.com/questions/21751/do-we-say-and-write-21-31-41-item-or-items

[2017-04-24 13:26] chriswilliams-tcc commented on #76
Please can this be fixed, as although it maybe part of ES6 - it is not supported by all browsers, especially IE11? It appears to only be used twice, so should be easy to swap out the references.

[2017-04-24 13:32] kevin940726 commented on #76
The [polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN#Polyfill) is very small. You can easily add it by yourself. Or a PR is always welcome :)

[2017-04-24 13:34] chriswilliams-tcc commented on #76
I am super busy at the moment (QA phase of development - hence the issue), but will definitely add a pull request when I get the chance. I have added a polyfill in the meantime. Thanks for getting back so quickly :)

[2017-04-26 06:14] dburles opened #81 "Warning: Unknown prop `now` on <time> tag"
Seeing this warning coming up

[code]

[2017-04-27 07:20] jdiamond commented on #81
I downgraded to 3.2.1 and the warning doesn't show there.

[2017-04-27 19:11] nmn commented on #81
My bad. I just added that prop type but I forgot to remove it from the list of forwarded props. I'll fix it in a new patch release.

[2017-04-27 19:40] zackify commented on #79
Would it be possible to just return the raw text with no wrapper so that you are responsible for wrapping it in something on whatever platform you use?

[2017-04-28 21:06] nmn commented on #79
1. You can already use a custom formatter to control the output as much as you want.

2. This doesn't sound right. This is not using the platform to generate the strings. There WAS a bug that would print `21 hour ago` but it was fixed. Please check that you have the same version of react-timeago on both platforms.

Thanks

[2017-05-14 07:53] abdennour opened #85 "Unknown prop `now` on <time> tag"
Hi @nmn  ,
Just you need to remove `now` props when the `Komponent` is `time` since `time` is a built-in and does not have an attribute called `now`.

Otherwise, the browser will fire the following error:
![image](https://cloud.githubusercontent.com/assets/1788384/26032120/98882b72-3893-11e7-9cff-53c3a28b4de2.png)

I will create PR if I got time. OK ?

[2017-05-15 09:30] albertogasparin commented on #85
+1, as I'm also experiencing this issue.

[code]

React: v15.5.0
react-timeago: v3.3.0

[2017-05-15 17:56] abdennour commented on #85
@albertogasparin  : I created a PR #86 for that  . I hope to be merged soon .

[2017-05-23 11:29] abdennour commented on #81
@nmn  Any news ? Our team will remove this package since the error bothers us. When you are done, please let me know.

[2017-05-23 11:39] abdennour commented on #81
Hi , so , I will go to a stupid solution if this issue will not solved , and it will be :

[code]

[2017-05-24 19:43] tsmith123 commented on #85
+1 - getting this issue too

[2017-05-24 20:56] iKonrad commented on #85
Please, get that merged asap. It breaks server side rendering for me.

[2017-05-25 18:08] abdennour commented on #85
Guys! if this issue will not be resolved , I highly recommend to use quick alternative which is "moment" , and it can be  the following:

[code]

[2017-05-30 20:52] primaryobjects commented on #81
Here is a [**fix**](https://gist.github.com/primaryobjects/ff3e02934190561bfc77ce7a022a29d5) for this. Replace `node_modules/lib/index.js` with this one. Until an official fix is published ..

Btw, I simply replaced `this.props.now()` with `new Date()` and removed it from [defaultProps](https://github.com/nmn/react-timeago/blob/master/src/index.js#L83).

[2017-05-30 20:56] primaryobjects commented on #85
Here is a fix for this issue. See https://github.com/nmn/react-timeago/issues/81#issuecomment-305004642.

[2017-05-30 20:58] iKonrad commented on #85
@nmn Hi Naman, any chance to get this merged soon?

[2017-05-30 22:51] tsmith123 commented on #85
I've just included the moment library and used it directly. Works fine.

[2017-05-31 15:27] ocolot commented on #81
Here is an alternative, as this repo has not upgraded yet: use moment.

Something like:
[code]
It's not live, but it will refresh when the component re-renders.

[2017-06-03 00:57] jbuffin commented on #85
The moment library fix does not provide live updating which I need. Can you please publish a release so we can have the fix from #86 ?

[2017-06-03 18:32] jschneier opened #87 "Flow Error"
Version 3.3.0

I installed the package and ran `yarn flow` and ended up with this:

[code]
In `index.js` when you set `nextFormatter = defaultFormatter.bind(null, value, unit, suffix, then)` seems the last argument shouldn't be there.

[2017-06-04 23:31] scf4 commented on #81
@ocolot Not practical for most people as Moment.js is HUGE.

[2017-06-04 23:32] scf4 commented on #85
Just a warning to everyone, Moment.js is huge. Best solution seems to be downgrading react-time-ago.

[2017-06-04 23:39] primaryobjects commented on #85
@scf4 actually the fix is already [there](https://github.com/nmn/react-timeago/pull/86#issuecomment-305321149), but the /lib folder was not rebuilt a published to npm. The latest [code](https://github.com/nmn/react-timeago/pull/86/files) works, it's just not in npm. :(

[2017-06-05 19:16] ocolot commented on #81
Sure. Any other suggestion?

On Mon, Jun 5, 2017, 01:31 scott <notifications@github.com> wrote:

--

Olivier Colot

Tech entrepreneur, musician
+32 486 80 10 70 - cocreation.studio
<http://www.cocreation.studio/?utm_source=email-signature&utm_medium=email&utm_campaign=Email%20signature%20clicks>
 - Blackcolors
<https://www.ftrsnd.com/artists/blackcolors?utm_source=email-signature&utm_medium=email&

[2017-06-05 19:29] stevewillard commented on #81
@ocolot Yeah... the library just gets published with the fix? It was merged into master 11 days ago.

[2017-06-06 16:41] ocolot commented on #81
Ok, thx, I didn't look as I implemented something custom in between ;)

On Mon, Jun 5, 2017, 21:29 Steve Willard <notifications@github.com> wrote:

--

Olivier Colot

Tech entrepreneur, musician
+32 486 80 10 70 - cocreation.studio
<http://www.cocreation.studio/?utm_source=email-signature&utm_medium=email&utm_campaign=Email%20signature%20clicks>
 - Blackcolors
<https://www.ftrsnd.com/artists/black

[2017-06-07 03:35] dvmorris commented on #85
Any idea when this will be published to npm?

[2017-06-07 14:26] sinewave440hz commented on #85
@primaryobjects Previously (ie. in other projects) I've been able to do an npm install from a git repo with a specific commit, but this doesn't work in this case; when I point package.json at the fix commit for this issue, I get all sorts of missing files - basically, the module doesn't seem to have installed correctly. Is there an extra step needed when installing straight from the repo?

[2017-06-07 18:30] MilllerTime commented on #76
FWIW, it looks like core-js (and by extension, babel-polyfill), will handle Number.isNaN:
https://github.com/zloirock/core-js#ecmascript-6-number

[2017-06-07 23:59] vdh commented on #85
If you've already got Moment in your project (as mentioned above, it's not a small dependency), here's a minimal drop-in replacement with live-updating:
[code]

[2017-06-10 21:07] phiresky commented on #81
Could you please publish the version with the fix? Thanks

[2017-06-11 15:14] antonmedv opened #88 "Add typescript definitions"
Add typescript definitions

[2017-06-12 15:06] primaryobjects commented on #81
I've confirmed that switching to version **3.2.1** in your `package.json` solves the javascript error. The only difference in this version from [3.3.0](https://github.com/nmn/react-timeago/commit/25cb8fbf7ac5cf4789feb881f20fe2812f4985ef) is the "now" property on the time tag.
[code]

[2017-06-13 22:15] nmn commented on #88
PRs welcome. I'm not going to do this myself.

[2017-06-13 22:15] #88 closed

[2017-06-20 05:41] lijinke666 opened #90 "Excuse me ,Do you support multilingual?"
My project needs to support `Chinese`

[2017-06-20 20:36] dinomite commented on #81
Seconding @primaryobjects…though, I'm sad because 3.2.1 (or 3.2.0) isn't actually a release here on GitHub (i.e. it wasn't tagged), though it is on NPM.  Sounds like some deployment automation is needed here.

[2017-06-20 22:37] jshimko commented on #81
Yep @dinomite, I forked the project for exactly that reason (publish automation).  I need fixes to actually get published.  :)

I set up CircleCI to automatically publish tagged releases for me.  Feel free to use it if you want (it already includes the fix for this issue).

[code]

[2017-06-21 05:48] Sigmus commented on #90
Take a look here: https://github.com/nmn/react-timeago/blob/master/src/language-strings/zh-CN.js

[2017-06-21 05:56] lijinke666 commented on #90
@Sigmus
Sorry to bother you, It's settled now . Thanks

[2017-06-21 18:10] Sigmus commented on #90
No problem! I imagine it is OK if you close the issue.

[2017-06-21 21:19] #90 closed

[2017-06-21 23:30] nmn commented on #81
I wouldn't mind some help with release automation.

[2017-06-21 23:34] nmn commented on #87
fixed. publishing new version soon.

[2017-06-21 23:34] #87 closed

[2017-06-22 00:33] jshimko commented on #81
I'd be happy to put together a PR for [my CircleCI config](https://github.com/jshimko/react-time-ago/tree/master/.circleci) if you're interested.

[2017-06-22 19:03] nmn commented on #81
That would be great. Yes!

[2017-06-22 19:04] nmn commented on #81
Question though, CircleCI vs Travis? I've used Travis before but never for deployments.

[2017-06-22 19:11] jshimko commented on #81
They technically do the same thing, but I have always preferred Circle's UI.  And their recent 2.0 release was a huge improvement on the flexibility of the platform.  So there's not necessarily anything wrong with Travis, but after using both, it's not my personal preference.

This project has fairly simple needs from a CI/CD platform, but I still think Circle is worth using for the better UI alon

[2017-06-22 19:13] nmn commented on #81
No I'm happy to use Circle. Was just curious.

[2017-06-22 19:14] jshimko commented on #81
Ok.  I'll put together a PR shortly.

[2017-06-27 12:58] overload17 commented on #57
How i can change unit format?

`    const formatter2 = formatter(1, 'minute', 'from now');
<div className="uk-width-4-5"><TimeAgo date={this.timeConverter(this.props.news.PublishDate)} formatter={formatter}/></div>`

    at TimeAgo.render (eval at <anonymous> (bundle.js:11021), <anonymous>:150:20)
    at ReactCompositeComponentWrapper._renderValidatedComponentWithoutOwnerOrContext (eval at <anonym

[2017-07-24 19:58] stephenfriedman commented on #85
This change has still not been published to NPM @nmn

[2017-07-24 23:56] nmn commented on #85
Yeah, damn, I've been terrible lately. I'll get on it.

[2017-07-25 16:25] stephenfriedman commented on #85
Thanks, looking forward to it @nmn

[2017-07-25 20:45] DrewDennison commented on #85
Really appreciate it thanks!

[2017-07-31 19:13] peterschussheim commented on #85
@nmn Any idea when the npm package will be updated with this patch?

[2017-07-31 19:14] scf4 commented on #85
Someone has a fork on NPM. I'm on mobile but they posted it as a comment on a PR

[2017-07-31 19:36] nmn commented on #85
done.

[2017-07-31 19:36] #85 closed

[2017-07-31 19:52] nmn commented on #74
should be fixed in latest release.

[2017-07-31 19:52] #74 closed

[2017-07-31 19:53] #76 closed

[2017-07-31 19:55] nmn commented on #45
This feature was added and released. You can now override a the 'now' prop.

[2017-07-31 19:55] #45 closed

[2017-07-31 20:00] nmn commented on #81
fixed and released. Sorry for the crazy delay.

[2017-07-31 20:00] #81 closed

[2017-07-31 20:01] nmn commented on #79
The fix is as simple as adding the props `component={Text}`.

The component tries to use a 'time' html element to render the output. That doesn't exist on React Native of course.

[2017-07-31 20:01] #79 closed

[2017-07-31 20:02] nmn commented on #69
Haven't heard back so closing. Assuming bug is fixed.

[2017-07-31 20:02] #69 closed

[2017-07-31 20:02] nmn commented on #63
you should really be using `Date.now()` for this.

[2017-07-31 20:02] #63 closed

[2017-07-31 20:04] nmn commented on #57
You need something like this:

[code]

[2017-07-31 20:04] #57 closed

[2017-07-31 20:05] zackify commented on #63
Figured it out, yeah. Miss you man, we gotta go to a conference again sometime!

[2017-07-31 20:06] nmn commented on #56
you should be able to set the `maxPeriod` prop to something like 10 seconds to make this work correctly. It'll do some extra work, but it will work correctly.

[2017-07-31 20:06] #56 closed

[2017-07-31 21:13] danstepanov opened #93 "How do time zones work?"
I'm inputting

[code]

and getting text that says `in 6 hours`

[2017-07-31 21:15] nmn commented on #93
The date parsing is just the browser default which will assume local time in your case. This can easily be fixed if you:
- pass in a Date object
- pass in pass in the epoch time as a number
- pass in a JSON compatible string which would be `"2017-07-31T19:15:15.558Z"` in your case. (Note the Z at the end. Which means it's UTC time)

[2017-07-31 21:15] #93 closed

[2017-07-31 23:12] danstepanov commented on #93
resolved, thanks @nmn

[2017-10-06 03:32] arvinsim opened #98 "Support for custom text when time ago is less than 60 seconds"
Right now, `react-timeago` updates by the second when the time ago value is less than 60 seconds.
It's fine for some use cases but can be distracting to the user in some cases.

I propose that we should be able to set a uniform value when the value is less than 60 seconds like `less than a minute` or `a few seconds ago`.

[2017-10-18 01:24] arvinsim commented on #98
It seems that my use case has been solved in issue #68.

[2017-10-18 01:24] #98 closed

[2017-11-15 09:13] JustFly1984 opened #99 "Support for React 16"
I've updated React to 16 and npm gives me a Warning:

react-timeago@3.4.3 requires a peer of react@^15.0.0 but none is installed. You must install peer dependencies yourself.

Can you please confirm that it doesn't support React 16?
If it doesn't - can you please update support, or peer dependencies if it does support.

[2017-12-02 04:33] markolofsen opened #100 "48 years ago."
Example:
My system time is: 2 Dec 2017, 04:32
Epoch time of element is: 1512189030

After didMount I see 48 years ago)))

[2017-12-11 18:14] TheSharpieOne commented on #100
[code]

that is ~47.89 years, rounding makes it 48.
If you were expecting 1512189030 to be 2017-12-02T04:30:30.000Z, then you need to convert the seconds to milliseconds (multiply it by 1000). The [readme](https://github.com/nmn/react-timeago#date-required) states it must be milliseconds

[2017-12-11 18:23] TheSharpieOne commented on #99
@nmn any feedback on this? I see there is a pending PR (#97) for make the change.

[2017-12-20 18:35] Mike-tech opened #101 "Using Timeago in IE 11"
Hi there

Using your plugin in a React project for SharePoint (SPFx). It seems to be working ok Google Chrome, but not in IE 11. I am using  v3.4.3 according to my package.json .
Using this in IE seems to break the webpart. When i remove it everything is fine. This is only on IE. I've only test this in Google Chrome and IE.

Is this supported in IE 11?

Thanks

[2017-12-20 19:54] Sigmus commented on #101
What error are you getting?

[2017-12-20 20:04] Mike-tech commented on #101
It's difficult to debug IE browser. It hangs or crash when i attempt to see what's happening from developer tool.

The best way to test is using your browser Runkit. If you click the link below and click the run button, it doesn't work in IE, but works find in Chrome.

[https://npm.runkit.com/react-timeago](url)

[2017-12-29 05:45] asimqt opened #102 "Can I get format like **Dec 29, 11: 30 AM** format using `react-timeago`?"
How can I get a format like **Dec 29, 11: 30 AM** format using `react-timeago`?

[2017-12-30 13:01] Sigmus commented on #102
What about the year of your date?

[2018-01-04 08:32] asimqt commented on #102
It's not about the exact format. I want to know how that's possible. And I did it like below:

[code]

And in `render()`

`TimeAgo date={date} formatter={formatter}/>`

And I used the package `luxon` which is the predecessor of moment.

[2018-01-04 08:45] Sigmus commented on #102
Just went to luxon and looked at some examples. This should work:

[code]
Hope this helps.

[2018-01-04 08:52] asimqt commented on #102
Er. I want to format the date I am passing down to the component. And this will also show the date as '2 minutes ago'. The other code I posted above is giving me the result I want but the problem is I have to import another library.

[2018-01-04 10:03] Sigmus commented on #102
That was just an example, you instantiate your date using luxon, the important part is:

```.valueOf()```

This outputs a unix epoch timestamp which is something compatible with react-timeago. But I'm probably misunderstanding your issue. :-)

[2018-01-10 00:48] iBasit commented on #99
+1

[2018-01-10 01:17] iBasit commented on #99
@TheSharpieOne @JustFly1984  — Have you manage to add this plugin yet?

[2018-01-10 05:34] catamphetamine commented on #99
Consider using `react-time-ago` if you need React 16 support
https://catamphetamine.github.io/react-time-ago/

[2018-01-10 15:14] TheSharpieOne commented on #99
@iBasit I use this library, npm just gives a warning, but everything works just fine.

[2018-02-28 00:26] Ashoat opened #103 "Flow types out of date"
React Flow types got revamped around Flow 0.53 or so I think, and running with a recent version of Flow you see errors such as the following:

[code]

[2018-02-28 02:19] PaitoAnderson commented on #101
It's this line here:
https://github.com/nmn/react-timeago/blob/c41fdb68a9beaec72e684e73e5f4170544175e5d/src/dateParser.js#L5

`Number.isNaN()` isn't supported in IE11.

[2018-03-10 23:17] virgofx commented on #99
:+1: Update deps please

[2018-04-06 15:52] Tsury commented on #103
Could this also be the reason why Webpack  4 complains about the .js.flow files of this library and no other library I'm using?

[code]

[2018-04-10 07:12] KagamiChan commented on #101
functions like `Number.isNaN` are expected be polyfilled by yourself, try using `core-js` or `babel/polyfill`

[2018-04-15 05:43] nmn commented on #103
Finally Fixed in v4.0.

Sorry for the LOOONG delay.

[2018-04-15 05:43] #103 closed

[2018-04-15 05:45] nmn commented on #102
1. You should be able to pass any date that you want.
2. You can write a custom formatter function to get any output format you want.

Other than that, I'm a little confused by what you want exactly. So if this doesn't help, feel free to comment further.

[2018-04-15 05:45] #102 closed

[2018-04-15 05:47] nmn commented on #101
TimeAgo doesn't support oldIE anymore. Please use the poly fills necessary. `Number.isNan` is relatively easy to polyfill:

[code]

Hope that helps.

[2018-04-15 05:47] #101 closed

[2018-04-15 05:49] nmn commented on #100
The basic idea is that I'm using the Browser Date object. And Javascript expects milliseconds not seconds.

[2018-04-15 05:49] #100 closed

[2018-04-15 05:49] nmn commented on #99
Finally out with v4.

I'm sorry for the LOOOOOONG wait.

[2018-04-15 05:49] #99 closed

[2018-04-15 18:54] virgofx opened #104 "4.0.0 + 4.1.x Do Not Work"
No assets lib published.

[2018-04-16 03:10] thinkloop commented on #104
I concur: "Error: Cannot find module 'react-timeago'"

[2018-04-16 03:55] asimqt commented on #102
Thanks. I used the custom formatter like this:
[code]
But, to achieve the formatting I need to import another library like luxon. I wanted to know whether there's a way to achieve the format of `dd LLL, yyyy` without a library.

[2018-04-16 06:13] nmn commented on #102
Since you have access to the date, it should be easy to write your own formatter.

However, this library doesn't not have any date format parsing built-in so you have to build that on your own.

[2018-04-16 06:14] nmn commented on #104
Oh. Looks like the circleci deploy is broken. Let me look into it.

[2018-04-18 15:47] sergeymishin opened #105 "How can is set 'just now'"
How can is set 'just now' value, for example, if the delta is less than a minute?

[2018-04-18 15:50] #105 closed

[2018-04-30 20:29] nmn commented on #105
I'm guessing you answered your own question.

[2018-05-02 22:41] JuanCaicedo opened #107 "Incorrect days coming from buildFormatter"
Hi there! I think I found a bug when you use a custom format. I've made this [sandbox](https://codesandbox.io/s/ykm4wopmy1) to reproduce it. The expected result should be 21 days ago, but it results in 29 days ago.

This happens when the formatter doesn't define units above `days`. A fix is to define the other units (`weeks`, `months`, `years`). My expectation from reading this in [the docs](https

[2018-05-02 22:45] nmn commented on #107
I'll take a look. Thanks!

[2018-05-13 11:42] adesege commented on #88
Hi @antonmedv, I found a typescript definition here http://codegists.com/snippet/typescript/react-timeagodts_hogart_typescript

Hope you find it helpful?

[2018-05-23 05:11] niyasrahman opened #110 "custom suffix string support?"

[2018-07-02 07:54] asimqt commented on #110
Maybe the dev doesn't want an 'ago' or 'from now' suffix. I think we could use formatter for that. But I'm not sure how though.

[2018-07-02 07:57] asimqt commented on #110
Try something like:
[code]

[2018-07-11 07:01] bologer opened #112 "Load lumtiple languages and pass param of the active one"
Hi,

Is it possible to import list of languages used in the app first and then pass some prop to component such as below?

[code]

[2018-08-01 21:22] gugurete opened #113 "tooltip shows UTC time"
tooltip shows UTC time instead of local time

[2018-08-01 21:24] #113 closed, assigned to nobody

[2018-08-01 21:24] gugurete commented on #113
noticed the title prop a bit too late

[2018-10-30 12:15] pioul opened #114 "`nextFormatter` argument is undocumented: can we safely rely on it?"
Hi!

I'm using the fifth parameter passed to the `formatter` prop ([`nextFormatter`](https://github.com/nmn/react-timeago/blob/69b34a295f3c38e53064ce084767c7c294e8ef04/src/index.js#L202)) to display "Just now" during the first elapsed minute, and then fallback to the default formatter to show elapsed minutes/hours/etc.

Since this last parameter isn't currently documented, I wanted to ask if we co

[2018-11-06 20:00] richardjharris commented on #114
Fwiw I'm doing the same. I use `minPeriod={60}` but `0 minutes ago` looked ugly - same use case as yours? Maybe an explicit setting would be nicer here.

[2018-11-29 20:36] sitch opened #115 "Add `:precision` propType"
With precision you can customize the granularity.

##### Example
You have a  date that is 1 week, 2 days, 5hrs, 3min and 25sec away, and you set precision to "minute".
You would get "1 week, 2 days, 5hrs, and 3min ago"

However if you set it to "days" you'd get: "1 week, and 2 days ago"

[2019-01-12 20:54] nmn commented on #114
Turns out the nextFormatter argument is always set to be defaultFormatter except it doesn't need any arguments. A better way is to import `defaultFormatter` from the package yourself and use it that way. However, I will leave the argument as it is now so as to not break anyone's code.

[2019-01-12 21:38] #107 closed

[2019-01-12 21:38] nmn commented on #114
Added docs and mentioned that you should not rely on it.

[2019-01-12 21:38] #114 closed

[2019-01-12 21:45] nmn commented on #112
You can do something like this:

[code]

Of course this is specifically in order to avoid importing language strings you don't need but does add promises.

You could also just import all the language string statically, and get rid of and async code. The language strings are relatively small, so that shouldn't matter in most cases.

[2019-01-12 21:45] #112 closed

[2019-01-12 21:46] #110 closed

[2019-01-12 21:51] nmn commented on #115
You can achieve this with your own custom formatter.

Please note the type signature for a formatter is:
[code]

You can use the value of `epochMiliseconds` and `now` and calculate the value to any level of precision.

Also, please note that the default formatter will automatically reduce it's precision as the time keeps increasing. So in your example, you would get "1 week ago" by default not the

[2019-01-12 21:51] #115 closed

[2019-01-13 17:42] pioul commented on #114
Nice! That makes sense, thanks for the clarification!

[2019-01-25 17:19] bl-JonathanRys opened #116 "Safari not respecting time zone"
When using a date in the following format, Safari displays the time as 5 hours earlier than Chrome does
[code]

I'm on a Mac

Chrome: 71.0.3578.98 (Official Build) (64-bit)
Safari: 12.0.2 (14606.3.4)

[2019-01-28 09:19] maalls opened #117 "error when using with expo 32"
Hi,

Could this be used with Expo? Currently I got the following error:
[code]

Thanks.

[2019-01-31 17:25] caleb-harrelson opened #118 "Losing timeoutIds causing excessive renders"
Here's [a small reproduction of the issue](https://codesandbox.io/s/vj72vxkr45).

If you open the [full view](https://vj72vxkr45.codesandbox.io/) of that in a window and enable "Highlight Updates" on the React DevTools extension you can see that every time the component rendering TimeAgo is rendered again, TimeAgo loses its handle on the existing timeoutId and another timer is created. If the exam

[2019-02-12 04:58] #118 closed

[2019-02-12 04:59] nmn commented on #116
Out of scope. React-Timeago will use the browser Date class.

[2019-02-12 04:59] #116 closed

[2019-02-12 23:18] caleb-harrelson commented on #118
@nmn, thanks for merging this. Any idea when the next release might be pushed to npm?

[2019-02-16 00:41] nmn commented on #118
Today.

[2019-02-16 06:16] curran opened #120 "CI is Failing at v4.4"
Greetings,

I was just evaluating this library, and noticed that CI is currently failing.

For this reason I am choosing not to adopt this library at the moment.

Details of the failed CI job are here https://circleci.com/gh/nmn/react-timeago/19?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-16 07:29] nmn commented on #120
Thanks I noticed that too. I think it’s because I published manually but I will verify what went wrong.

[2019-03-13 17:17] corwinstephen commented on #68
Does anyone have any thoughts on making this a native feature?

[2019-03-13 17:25] nmn commented on #68
I open to adding additional formatters. But this specific case doesn’t seem different enough and will only create confusion.

[2019-03-13 23:41] bwiklund opened #121 "npm build has weird artifact in it"
The npm package's `lib` folder has two files named `index (Naman’s MacBook Air's conflicted copy 2016-09-06).js` and one with `.flow`, i am guessing those aren't supposed to be there?

[2019-05-20 08:38] hbansal0122 opened #124 "Translation in Time Ago"
Is it possible to add the translation model into this library.

[2019-06-08 08:42] FarooqAR opened #125 "More units"
Is it possible to display the time as `x hours y minutes ago` .i.e using both hours and minutes as a single unit?

[2019-06-08 10:49] #125 closed

[2019-06-27 16:56] remi2j commented on #68
I think this should be the default behavior. Seeing the seconds count increase every seconds is way too distracting. It makes the UI feel over-engineered, and we practically never need this level of precision.

On a side note, _"just now"_ seems better to me than _"just recently"_

[2019-07-01 01:01] azizghuloum commented on #121
[code]
React-native does not like building my project with these files in place.

[2019-08-06 08:06] badyakarprabin commented on #105
@sergeymishin Did you get the answer???

[2019-08-06 08:11] badyakarprabin commented on #68
Guys, I'm currently using buildFormatter. Is there any way I can use custom formatter + buildFormatter.

My code looks something like this:

    const formatter = buildFormatter(lngRes[lng]);

Any help would be appreciated. :)

[2019-08-06 18:22] nmn commented on #68
a formatter is just a function. buildFormatter is only present to convert data objects into formatter functions. You can write your own formatter function for complete flexibility.

[2019-10-11 00:16] pythoncreate opened #127 "Invalid Time Value"
Not sure if there is something wrong with my date format, but i'm getting the Invalid Time Value Error.

In react this is my code

[code]

my date actually looks like this
2019-10-07T04:12:25.000Z

any ideas?

[2019-10-11 00:46] #127 closed

[2019-10-11 00:56] caleb-harrelson commented on #127
You closed it, so you’ve probably already figured this out, but your value is resolving to a boolean. Using a ternary to trap the null and provide a default will work.

[2019-11-05 08:05] deathland09 commented on #124
Can't you update this translate for vietnamese people.
"prefixAgo: 'cách đây'" => prefixAgo: null,
"suffixAgo: null" => "suffixAgo: 'trước'"
This for shorter than before.

[2019-12-04 17:30] mdodge-ecgrow opened #130 "0 seconds ago = Now"
Awesome package!  Love all the options and love the ability to adjust the title for hovering the real timestamp.  My only request is to have an option to have the string "0 seconds ago" say "Now" or "Just now" instead.

[2020-01-09 15:29] aub commented on #130
I've been trying to figure out how to do this as well. It sure seems like it ought to be possible with the formatters, but I haven't figured it out yet. Assuming that is possible, an example in the README would be awesome!

[2020-03-18 11:30] mara1esh commented on #130
you can create your `formatter` function which has to returns string
as example:
[code]

[2020-04-27 20:21] mjfwebb commented on #130
I just wanted to provide a somewhat complete, TypeScript compliant example, which includes the remainder (defaultFormatter). Hope it helps.

[code]

[2020-05-27 15:33] Alchy-web opened #135 "Need to change translated string FR"
Awesome package! i need to change a string in french translation :
For example in EN : 15 minutes ago
The Fr translation is : il y a environ 15 minutes
I need to change it to : il y a 15 minutes

[2020-05-30 20:25] PaulPCIO commented on #135
You so I have the same problem, looking for a method to remove the prefix.

English returns: **about** 15 minutes ago

[2020-05-31 02:36] Alchy-web commented on #135
Thanks @PaulPCIO, i've removed it manually

[2020-06-11 19:12] Butonix opened #136 "Translate format"
Hello. How to change the time output format
I want it like this:
just now,
1 minute ago,
1 hour ago,
Today, at 08: 10
yesterday at 01:05,
Wednesday, at 04:10
05.02.2020 at 06:15

[2020-09-15 22:08] southpolesteve commented on #121
I also just hit this issue. It causes problems on windows or compressing node_modules folders because of the characters in it.

[2020-10-02 03:47] nmn commented on #136
You would need to create a customFormatter that does that.

[2020-10-02 03:48] #136 closed

[2020-10-02 03:48] #135 closed

[2020-10-02 03:49] #130 closed

[2020-10-02 03:50] nmn commented on #124
There are various strings for various languages. These strings were originally copied over from JQuery, but have since been maintained through PRs. Happy to look at and accept any PRs for the same.

[2020-10-02 03:50] #124 closed

[2020-10-02 04:18] houmark opened #143 "5.0.0 - 5.1.0 broken due to `debugger;` value in useEffect"
Introduced in this commit: 8d60243ec5ebfe9c802523d1d6781b0806d45b37

Really would love to see a changelog for this repository and shouldn't tests have caught this?

[2020-10-02 04:21] nmn commented on #143
Good catch, and I just updated it so it's fixed in v5.2.0. This project was barely maintained for over a year, and I was trying to fix things including the CI publishing part.

Tests didn't catch this, but listing would've. Sadly, I haven't set up proper listing on the project yet. Help would be appreciated!

[2020-10-02 04:22] #143 closed

[2020-10-02 04:22] nmn commented on #120
Fixed with v5.2

[2020-10-02 04:22] #120 closed

[2020-10-02 04:22] nmn commented on #121
fixed

[2020-10-02 04:22] #121 closed

[2020-10-02 04:24] houmark commented on #143
Great, thanks for the effort. I wish I had time to participate, if I do in the future I definitely will try to start out with tests. 50k+ downloads weekly I think deserves better coverage :)

[2020-10-26 15:50] haniehtarbiat opened #145 "in persian formatter digits do not convert to persian digits"
when build formatter by language-strings/fa the text convert to persian language but the digits don't convert to persian digits.

[2020-11-18 07:23] kj800x opened #146 "Add React 17 support"
According to the package.json, this package requires React `^16.0.0`.

https://github.com/nmn/react-timeago/blob/bf499d7dea062c79af76968a4d4d942e2d7b5131/package.json#L32-L34

I attempted to add react-timeago to a project using React 17.0.1 and `npm` refused to install.

[code]

I am on the latest versions of node and npm
[code]

[2020-11-19 17:07] caleb-harrelson commented on #146
That's the reason it breaks entirely as [npm 7 has changed how peer dependencies are resolved](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/#user-content-breaking-changes). This package should add explicit support for v17, but failing that you might want to keep an eye on the ability to override peer dependency resolutions as [first proposed](https://github.com/npm/rfcs/issues/2

[2020-11-20 23:05] nmn commented on #146
Ill update the package to add support for React 17.

[2020-11-22 13:38] yavulan opened #147 "Unclear breaking changes"
Last changelog explanation covers v4.4.0, but latest tag is 5.2.0

[2020-11-23 20:59] nmn commented on #147
The main breaking change is only in the minimum react version required. It now uses hooks, and requires minimum React v16.

[2020-11-23 20:59] nmn commented on #147
I'll update the changelog in the next release.

[2020-11-23 20:59] #147 closed

[2020-11-23 21:05] nmn commented on #145
I rely on pull request for translations. The language strings can take function that can convert digits to the right format. You're welcome to make a pull request. I will be happy to help. We basically just need a function to convert to Persian digits.

[2020-12-09 12:51] azizghuloum commented on #121
How did you fix it without releasing a new version?

[2020-12-12 21:23] nmn commented on #121
I did release a new version.

[2020-12-30 10:37] apieceofbart opened #150 "Add changelog note for version 5"
Hi, thank you for working on react-timeago
I noticed a new version release but the changelog in the README ends on ver 4.4 - was there any breaking change introduced?

[2021-01-04 12:04] Philipp91 commented on #150
All changes are in [this commit](https://github.com/nmn/react-timeago/commit/8d60243ec5ebfe9c802523d1d6781b0806d45b37#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519). I can see at least these breaking changes:

* Drop support for React v15
* Babel presets changed, not sure if that matters for users of the library.
* Migrated to a functional component, which at least in its c

[2021-01-04 12:05] Philipp91 commented on #150
The typeshed will need an update. @koss-lebedev @mcmar

[2021-01-04 12:08] apieceofbart commented on #150
thank you @Philipp91

[2021-03-02 14:22] romiem commented on #146
Hey @nmn - what's the latest on this please? I would really love to drop the --legacy-peer-deps flag from my build step. Thank you

[2021-03-03 17:19] romiem commented on #146
PR here - please would you mind merging @nmn ? Thank you!

https://github.com/nmn/react-timeago/pull/152

[2021-03-24 22:43] JoFont opened #154 "Live stops if Date value is changed."
Hello, good afternoon,

The live functionality stops working when you update the date object and the component re-renders. Is there any way to prevent this?

Thank you very much!

[2021-04-01 11:13] Eyal-VR commented on #154
I'm experiencing this as well. any suggestions?

[2021-04-04 09:49] dorukusumezbas commented on #154
same problem here.

[2021-04-29 15:30] TomBailey167 commented on #154
I am also experiencing this issue and think it's also probably the cause of the problem on this Stack Overflow question:

https://stackoverflow.com/questions/66322904/how-to-fix-react-timeago-not-updating-on-its-own

[2021-04-29 20:03] BrennanWilkins commented on #154
I was stuck on this for awhile, what worked for me was to add the date prop to the useEffect dependencies and then change Infinity to a large number.

[2021-04-29 21:48] TomBailey167 commented on #154
Brilliant. I didn't need to add the date prop to useEffect - I don't actually have a useEffect clause where that would be relevant.

However, updating the `max` prop with a large integer did solve my issue:

**Original Code:**
`<TimeAgo live={true} date={lastUpdated} formatter={timeFormatter} />`

**Updated Code:**
`<TimeAgo live={true} date={lastUpdated} formatter={timeFormatter} max={Number.MAX_

[2021-04-30 00:37] BrennanWilkins commented on #154
Unfortunately I had to download the src files and make the edits to the index.js file. The useEffect in index.js was what I was referring to.

[2021-04-30 07:53] TomBailey167 commented on #154
Thanks @BrennanWilkins - that's sorted the issue now. I don't actually need to update the `max` prop to `Number.MAX_SAFE_INTEGER` - just adding the date prop to deps works. I've submitted a pull request with the fix.

[2021-05-14 11:07] Willyham commented on #146
Works for me with `npm i react-timeago --legacy-peer-deps` for now.

[2021-05-16 04:41] nmn commented on #154
Since the pull request was merged a  new version has been published to NPM.

[2021-05-16 04:41] #154 closed

[2021-05-16 04:42] nmn commented on #150
v6 has been published. I updated the Changelog this time.

Sorry I haven't been able to give this the attention it needs.

[2021-05-16 04:42] #150 closed

[2021-05-16 04:42] nmn commented on #146
DONE.

[2021-05-16 04:42] #146 closed

[2021-05-17 10:49] appigram opened #160 "Memory leak"
Live updates causing memory leak. Look at Listeners increasing to infinity and JS Heap graph
![image](https://user-images.githubusercontent.com/2223582/118475721-441ed680-b715-11eb-8913-28ce1a6a22ff.png)

We set live={false} and no any issues
![image](https://user-images.githubusercontent.com/2223582/118475879-7fb9a080-b715-11eb-960c-e57e9556e9f5.png)

Out wrapper component to render dates
[code]

[2021-05-29 08:16] nmn commented on #160
Should be fixed.

[2021-05-29 08:16] #160 closed

[2021-06-09 16:45] MichaelKheel opened #164 "just now with formatter + buildFormatter"
you can create your `formatter` function which has to returns string
as example:
[code]

How can I do this if I use localization?
[code]

_Originally posted by @mara1esh in https://github.com/nmn/react-timeago/issues/130#issuecomment-600570665_

[2021-06-10 02:00] nmn commented on #164
Since formatters are a functions you can wrap a localization function with your function to customize it however you need to.

[2021-06-10 02:00] #164 closed

[2021-06-10 05:18] MichaelKheel commented on #164
I would be grateful if you could show a simple example, since I tried different options.

[2021-07-30 00:23] diegoulloao opened #167 "Prefix prop?"
There is a suffix prop, why not prefix?

[2021-11-08 19:29] githorse opened #172 "support for fuzzy intervals ("a moment ago", etc)"
As illustrated [in this question](https://github.com/nmn/react-timeago/issues/164), the `formatter` option makes it easy to modify the behavior so the component says something like `"a moment ago"`, `"just now"`, etc. instead of displaying a precise number of seconds:

[code]

But this `"a moment ago"` thing seems pretty standard now and I was a little surprised that it's not built in to this comp

[2021-11-18 18:22] dmatora commented on #164
Same question. How can it be wrapped?
I tried and couldn't get it working

[2022-01-08 03:05] notjustinshaw commented on #172
I expected this as well. I didn't want it to sit there and count up the seconds so I added the `minPeriod={60}` and expected the first output to be something like `"just now"`

[2022-03-18 01:14] montanaflynn commented on #172
Would also appreciate this functionality.

[2022-05-10 06:46] Hirokumi opened #174 "React version"
Hello,

Could you please update the version react requirement ?

[code]

to react ^18.0.0 ?

Thank you !

[2022-06-10 05:48] #174 closed

[2022-06-10 05:51] nmn commented on #167
Look at the language strings, they already support `prefix` as well.

Perhaps, `suffix` was badly named, but the suffix argument only tells you if the date time is in the past or the future. The actual "prefix" or "suffix" is handled by the formatter function itself, which can do whatever it wants.

[2022-06-10 05:51] #167 closed

[2022-06-10 05:54] nmn commented on #172
Some short versions of strings are already built-in (See `en-short.js`).

Similarly, if you feel like the "fuzzy" option should be built-in, I will be happy to accept a PR that add an `en-fuzzy` formatter for the package as well.

I don't feel comfortable changing the default to be more fuzzy as being live updating has always been part of the design of this component.

[2022-06-10 05:54] #172 closed

[2022-06-10 05:55] nmn commented on #145
While this was not possible in the past, it might be possible to use the `Intl` module to convert the numbers to various locales now.

[2022-06-10 06:37] simPod opened #177 "Can we have more verbose release notes?"
Hello, this is how release notes currently looks like in an automated PR that bumps new version:

<img width="262" alt="image" src="https://user-images.githubusercontent.com/327717/173005543-bb082ba6-c846-4d1c-8227-d9620bf4a5d7.png">

Can we tag new release on github as well? It has a feature to auto-generate the contents:

<img width="1020" alt="image" src="https://user-images.githubusercontent.c

[2022-06-10 17:42] nmn commented on #177
Done.

[2022-06-10 17:42] #177 closed

[2022-07-05 13:48] siddharthbhat777 commented on #28
Failed to compile.

./src/components/post/Post.jsx
Module not found: Can't resolve 'timeago.js' in 'D:\MET College Projects\Sem 2 Project\TweetMeet\tweet-meet-app\tweet-meet-web-app\src\components\post'

not working please help

[2022-08-03 21:51] DarkIntaqt opened #180 "[FeatureRequest] Replace "XXX from now" to "in XXX""
I find this a lot easier to read and it sounds better.

From: 5 hours from now
To: in 5 hours

This is a feature request which is based on my own and personal opinion, I would like to see this feature implemented.

[2022-08-15 10:22] bc-m opened #181 "Updating date causes display problems"
## Description

Mounting `react-timeago` and updating the date-state later will result in an incorrect display. As a workaround we have set the "key"-property to "date.now()".

## How to reproduce?

### Step 1

Open codesandbox: https://codesandbox.io/s/pensive-sea-oy63x2?file=/demo.tsx

You will see this:

Acutal behavior as expected `less than a minute ago`. Everything is fine until here.

### S

[2022-10-25 17:35] mopatches commented on #181
Thank you @BC-M -- this solved our issue as well:

Before:
[code]

After:
[code]

[2022-11-16 08:52] Tymek opened #182 "Add "less then a minute ago" option"
I'd like to keep `live` on, but updating it every second is distracting in my use case, and `minPeriod` is not enough because it is displaying wrong number of seconds. It would be nice to have it without custom formatter (example below).

[code]

[2022-11-17 17:26] anishkumar127 opened #183 "why show this type error on console?"
![image](https://user-images.githubusercontent.com/77631750/202515411-ea103bbe-fc41-4e4f-a949-2f180b6ac782.png)